In [1]:
import sys

sys.path.append('..')

import src as ft
import pandas as pd

In [2]:
df = pd.read_csv("data/weather/Weather Training Data.csv")
df.head()

,row ID,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,Row0,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0
1,Row1,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0
2,Row2,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0
3,Row3,Albury,14.6,29.7,0.2,NaN,NaN,WNW,56.0,W,...,55.0,23.0,1009.2,1005.4,NaN,NaN,20.6,28.9,No,0
4,Row4,Albury,7.7,26.7,0.0,NaN,NaN,W,35.0,SSE,...,48.0,19.0,1013.4,1010.1,NaN,NaN,16.3,25.5,No,0

In [3]:
ft.featurize(df)

{'row ID': 'STRING',
 'Location': 'CATEGORICAL',
 'MinTemp': 'NUMERIC',
 'MaxTemp': 'NUMERIC',
 'Rainfall': 'NUMERIC',
 'Evaporation': 'NUMERIC',
 'Sunshine': 'NUMERIC',
 'WindGustDir': 'CATEGORICAL',
 'WindGustSpeed': 'NUMERIC',
 'WindDir9am': 'CATEGORICAL',
 'WindDir3pm': 'CATEGORICAL',
 'WindSpeed9am': 'NUMERIC',
 'WindSpeed3pm': 'NUMERIC',
 'Humidity9am': 'NUMERIC',
 'Humidity3pm': 'NUMERIC',
 'Pressure9am': 'NUMERIC',
 'Pressure3pm': 'NUMERIC',
 'Cloud9am': 'NUMERIC',
 'Cloud3pm': 'NUMERIC',
 'Temp9am': 'NUMERIC',
 'Temp3pm': 'NUMERIC',
 'RainToday': 'CATEGORICAL',
 'RainTomorrow': 'NUMERIC'}

In [7]:
# get the number of dsistinct values in the column Location
df.dropna()["RainToday"].unique()

array(['No', 'Yes'], dtype=object)